.button{
    border: 4px solid rgb(110, 174, 242);
    width: 170px;
    margin: 0 auto;
    transition-duration: 0.4s;
    text-align: center;
    position: relative;
    right: 500px;
}

.button:hover{
    background-color: rgb(247, 86, 86);
}

a{
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    color: rgb(21, 235, 135);
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
}