body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1450px 1000px;
}

.container{
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    width: 700px;

    margin: 0 auto;
}

.button{
    position: relative;
    bottom: -250px;
    left: 400px;
    border: 4px solid rgb(110, 174, 242);
    width: 170px;
    margin: 0 auto;
    transition-duration: 0.4s;
    text-align: center;
    display: inline-block;
}

.button:hover{
    background-color: rgb(247, 86, 86);
}

a{
    -webkit-text-stroke: 0.4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
}