body {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1450px 1000px;
}

.container{
    color:rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    width: 700px;

    margin: 0 auto;
}